{
  "parser": "@babel/eslint-parser",
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "prettier"
  ],
  "rules": {
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ]
  },
  "env": {
    "browser": true,
    "es6": true
  }
}
