.gifts {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;

  &__item {
    $width: 128px;

    position: relative;

    width: $width;
    height: $width;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;

    border-radius: 10px;
    border: 4px solid $white;
    background: $purple2;

    > span,
    > img {
      margin: auto;
    }

    > span {
      @include appetite100;

      line-height: 60px;
      height: 68px;

      color: $white;
    }

    > img {
      display: none;
    }

    &.is-can-get {
      background: url("./images/gifts/gift_backgr.png") center no-repeat;
      background-size: cover;

      cursor: pointer;

      > img {
        display: block;
        max-height: 120px;
      }

      > span {
        display: none;
      }
    }

    &.is-active {
      cursor: default;

      > img {
        filter: grayscale(1);
      }
    }
  }
}

.gift {
  position: absolute;

  > img {
    position: relative;
    z-index: 3;
    cursor: pointer;
  }

  &.gift1,
  &.gift8,
  &.gift13,
  &.gift17,
  &.gift18,
  &.gift19,
  &.gift23,
  &.gift26 {
    > img {
      max-width: 128px;
    }
  }

  &-buttons {
    position: absolute;
    z-index: 4;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__item {
      @include button-base(12px, 22px);
      @include appetite24;

      margin: 0 0 24px;

      color: $white;
      text-align: center;
      text-transform: uppercase;

      cursor: pointer;

      &:last-of-type {
        margin: 0;
      }

      > span {
        white-space: nowrap;
      }
    }
  }
}

@include mobile {
  .gifts {
    gap: 24px;

    &__item {
      $width: 80px;

      position: relative;

      width: $width;
      height: $width;

      >span {
        @include appetite60;

        height: auto;
      }

      &:nth-child(11),
      &:nth-child(14) {
        >img {
          width: 100%;
        }
      }

      &.is-can-get {
        >img {
          max-height: 70px;
        }
      }
    }
  }

  .gift {
    > img {
      max-width: 80px !important;
    }

    &-buttons {
      transform: scale(0.5);
      &__item {
        @include appetite17;

        padding: 12px 10px;
        margin: 0 0 4px;
        border-width: 4px;
      }
    }
  }
}
