.menu {
  position: absolute;
  right: calc((100% - 1440px) / 2);
  top: 0;
  z-index: 2;

  padding: 65px 65px 0 0;
  margin: 0 0 0 16px;
  box-sizing: border-box;
  display: flex;
  gap: 0 16px;

  &__item {
    $width: 90px;

    width: $width;
    height: $width;

    background-size: contain;

    &:first-of-type {
      background-image: url("./images/gift.svg");
    }

    &:last-of-type {
      background-image: url("./images/lk.svg");
    }

    cursor: pointer;
  }
}

@media screen and (max-width: 1520px) {
  .menu {
    right: 0;
  }
}

@include mobile {
  .menu {
    left: inherit;
    right: 86px;

    width: 100%;
    padding: 0 32px 0 50px;
    display: flex;
    justify-content: space-between;
    transform: rotate(-90deg);
    transform-origin: right 0;

    &__item {
      $width: 70px;

      width: $width;
      height: $width;

      transform: rotate(90deg);

      &:first-of-type {
        background-image: url("./images/gift.svg");
      }

      &:last-of-type {
        background-image: url("./images/lk.svg");
        margin-left: auto;
      }
    }
  }
}
