.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  height: 100%;
  width: 100%;
  padding: 48px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.45);

  opacity: 0;
  transition:
    opacity ease-in 300ms,
    z-index ease-in 10ms 320ms;

  &-wrapper {
    position: relative;

    padding: 40px;
    max-width: 480px;
    box-sizing: border-box;

    border-radius: 35px;
    border: 6px solid $white;
    background: $purple-light;

    transform: scale(0);
    transition: $transition-out;
  }

  &__cross {
    $width: 70px;

    position: absolute;
    top: calc(#{$width} / -2);
    right: calc(#{$width} / -2);

    width: $width;
    height: $width;

    background: url("./images/cross.svg");

    transform: rotate(0);
    transition: $transition-out;
    cursor: pointer;

    &:hover {
      transform: rotate(180deg);
      transition: $transition-in;
    }
  }

  &__text {
    font-family: "lifehack";
    font-size: 32px;
    text-align: center;
    color: $purple;
  }

  &.is-visibility {
    z-index: 10;

    opacity: 1;
    transition:
      z-index ease-in 10ms,
      opacity ease-in 300ms 15ms;

    .modal-wrapper {
      transform: scale(1);
      transition: $transition-in;
    }
  }
}

@include mobile {
  .modal {
    &-wrapper {
      padding: 40px 32px;
    }

    &__cross {
      $width: 40px;

      width: $width;
      height: $width;
      top: calc(#{$width} / -2);
      right: calc(#{$width} / -2);

      background-size: cover;
    }
  }
}

@media screen and (max-width: 400px) {
  .modal {
    &-wrapper {
      padding: 40px 16px;
    }
  }
}

.modal-gifts {
  .modal-wrapper {
    position: absolute;

    max-width: 1340px;
    margin: 0 auto;
    padding: 40px 0;
    height: 80%;
  }

  &-content {
    height: 100%;
    overflow-y: auto;
    padding: 0 34px 0 40px;
    margin: 0 6px 0 0;

    scrollbar-color: #aaa #777;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: #aaa;
      height: 80%;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #777;
    }
  }
}

@include mobile {
  .modal {
    &-gifts {
      padding: 88px 16px 0;
      display: block;

      background: #7d69ac url("./images/stars.png") center 0 no-repeat;
      background-size: contain;

      text-align: center;

      &:before {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        display: block;

        background: rgba(0, 0, 0, 0.45);

        content: "";
      }

      &__title {
        @include appetite36;

        max-width: 400px;
        margin: 0 auto 32px;

        color: $white;
        text-align: center;
      }

      .modal__cross {
        top: -155px;
        right: -6px;
      }

      .modal-wrapper {
        position: static;

        display: inline-block;
        padding: 0;
      }

      &-content {
        padding: 0;
        margin: 24px 6px 24px 24px;
      }
    }
  }
}

.modal-lk {
  display: block;
  padding-top: 242px;

  .modal {
    &-wrapper {
      padding: 36px 0 0;
      max-width: 480px;
      margin: 0 auto;

      border-color: $purple3;
    }

    &-lk-title {
      position: absolute;
      top: -248px;
      left: 0;

      width: 100%;
      display: flex;
      align-items: center;
      gap: 0 8px;
      justify-content: center;
      padding: 64px 0 0;

      > img {
        width: 80px;
        height: 80px;
      }

      > span {
        @include appetite48;

        color: $white;
        white-space: nowrap;
      }
    }
  }

  &-content {
    @include lifehack36;

    color: $purple;

    > div {
      padding: 0 0 30px;

      text-align: center;
      color: $purple;

      border-bottom: 4px solid rgba(96, 71, 150, 0.6);
    }

    > ul {
      overflow: hidden;
      border-radius: 0 0 35px 35px;

      > li {
        padding: 8px 16px;
        margin: 0 0 8px;

        background: linear-gradient(
          180deg,
          rgba(209, 198, 239, 0.66) 1.56%,
          rgba(255, 255, 255, 0.07) 44.79%,
          rgba(157, 131, 218, 0.23) 100%
        );

        cursor: pointer;

        &:last-of-type {
          margin: 0;
        }
      }
    }
  }
}

@include mobile {
  .modal-lk {
    padding-top: 178px;

    .modal {
      &-lk-title {
        top: -178px;

        padding: 36px 0 0;

        > img {
          width: 70px;
          height: 70px;
        }

        > span {
          @include appetite32;

          white-space: normal;
        }
      }
    }
  }
}

.modal-qr {
  .modal-wrapper {
    text-align: center;

    .modal__text {
      margin: 0 0 8px;
    }
  }
}
