.rooms {
  overflow: hidden;
  height: 100%;

  background-size: cover;
  background-position: center;

  .room-content {
    display: flex;
    height: 100%;
  }

  .room-wrapper {
    position: relative;

    width: 820px;
    height: 820px;
    margin: auto;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    transition: all ease-in 200ms;
  }

  &.room1 {
    background-image: url("../images/for-room1.png");

    .room-wrapper {
      background-image: url("../images/room1.png");
    }
  }

  &.room2 {
    background-image: url("../images/for-room2.png");

    .room-wrapper {
      background-image: url("../images/room2.png");
    }
  }

  &.room3 {
    background-image: url("../images/for-room3.png");

    .room-wrapper {
      background-image: url("../images/room3.png");
    }
  }

  &-shadow {
    position: fixed;
    z-index: 2;
    top: -50%;
    left: -50%;

    width: 5000px;
    height: 5000px;

    background: rgba(0, 0, 0, 0.6);
  }
}

@media screen and (max-width: 820px) {
  .rooms {
    .room-wrapper {
      width: 400px;
      height: 400px;
      min-width: 400px;
    }

    &.room3 {
      .gift1,
      .gift5,
      .gift15,
      .gift21,
      .gift24 {
        .gift-buttons {
          //right: 100% !important;
        }
      }
    }
  }
}
