$purple: #242F79;
$purple2: #9D83DA;
$purple3: #5D468E;
$purple-light: #D1C6EF;
$white: #fff;
$red: #F00;

$transition-in: all ease-in 300ms;
$transition-out: all ease-out 300ms;

$mobile: 870px;
$tablet: 1100px;
