@font-face {
  font-family: "appetite";
  src : url("./fonts/appetite.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "lifehack";
  src : url("./fonts/DearTypeLifehackBasic.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
