<!doctype html>
<html lang="ru" class="height100">
  <head>
    <meta charset="UTF-8" />
    <title>{{.Title}}</title>
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, viewport-fit=cover"
    />
  </head>
  <body class="height100">
    <%= metrikaHTML %>

    <main class="main height100">
      <div class="main-wrapper">
        <div>
          <form class="form" action="<%= ENV_URLS.login %>" method="POST">
            <input type="hidden" name="csrf" value="{{.CsrfToken}}" />

            <div class="form__name">Вход</div>
            <div class="form__wrapper">
              <div class="form__item">
                <div class="form__item-text">Почта</div>
                <div class="form__item-input">
                  <input
                    {{if
                    .FormError.Email}}
                    class="error"
                    {{end}}
                    type="email"
                    name="email"
                    required
                    placeholder="example@gmail.com"
                  />
                </div>
                {{if .FormError.Email}}
                <div class="error-message">{{.FormError.Email}}</div>
                {{end}}
              </div>
              <div class="form__item">
                <div class="form__item-text">Пароль</div>
                <div class="form__item-input js-password">
                  <input
                    {{if
                    .FormError.Password}}
                    class="error"
                    {{end}}
                    type="password"
                    name="password"
                    required
                  />
                </div>
                {{if .FormError.Password}}
                <div class="error-message">{{.FormError.Password}}</div>
                {{end}}
              </div>

              {{if .FormError.Total}}
              <div class="error-message">{{.FormError.Total}}</div>
              {{end}}

              <button type="submit" class="button js-login-submit">
                <span>Готово</span>
              </button>
            </div>
            <!--            <div class="re-password js-call-modal">Восстановить пароль</div>-->
            <div class="form__decor is-mobile">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </form>
        </div>
      </div>

      <!--      <div class="modal js-modal">-->
      <!--        <div class="modal-wrapper">-->
      <!--          <div class="modal__cross js-cross"></div>-->
      <!--          <div class="modal__text">-->
      <!--            Подробная инструкция по восстановлению пароля отправлена вам на-->
      <!--            почту-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
    </main>
  </body>
</html>
