<!doctype html>
<html lang="ru" class="height100">
  <head>
    <meta charset="UTF-8" />
    <title>{{.Title}}</title>
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, viewport-fit=cover"
    />
  </head>
  <body class="height100">
    <%= metrikaHTML %>

    <main class="main height100">
      <!--      <div class="menu js-menu">-->
      <!--        <div class="menu__item js-call-modal js-call-lk-modal"></div>-->
      <!--      </div>-->
      <div class="choice js-choice">
        <div class="modal js-onboarding-choice">
          <div class="modal-wrapper">
            <div class="modal__text js-onboarding-choice-text">
              Ты всегда можешь изменить свой выбор в личном кабинете!
            </div>
          </div>
        </div>
        <h1 class="choice-title js-rooms-title">Выбери комнату!</h1>
        <div class="choice-wrapper is-no-mobile">
          <div class="choice__item js-go-room" data-room="1">
            <img
              src="/assets/images/room_preview1.png"
              alt=""
              class="choice__item--img"
            />
            <div class="choice__item--title js-rooms-name1">Спортивная комната</div>
            <div class="choice__item--text js-rooms-text1">Если любишь гонять мяч, тебе сюда!</div>
            <button class="choice__item--button"><span class="js-rooms-button"></span></button>
          </div>
          <div class="choice__item js-go-room" data-room="2">
            <img
              src="/assets/images/room_preview2.png"
              alt=""
              class="choice__item--img"
            />
            <div class="choice__item--title js-rooms-name2">Комната творчества</div>
            <div class="choice__item--text js-rooms-text2">Любишь рисовать! Скорее заходи!</div>
            <button class="choice__item--button"><span class="js-rooms-button"></span></button>
          </div>
          <div class="choice__item js-go-room" data-room="3">
            <img
              src="/assets/images/room_preview3.png"
              alt=""
              class="choice__item--img"
            />
            <div class="choice__item--title js-rooms-name3"></div>
            <div class="choice__item--text js-rooms-text3">Игрушки ждут тебя здесь!</div>
            <button class="choice__item--button"><span class="js-rooms-button">ПЕРЕЙТИ</span></button>
          </div>
        </div>
        <div class="choice-wrapper is-mobile js-choice-slick">
          <div class="choice__for-item">
            <div class="choice__item js-go-room" data-room="1">
              <img
                src="/assets/images/room_preview1.png"
                alt=""
                class="choice__item--img"
              />
              <div class="choice__item--title js-rooms-name1">Спортивная комната</div>
              <div class="choice__item--text js-rooms-text1">Если любишь гонять мяч, тебе сюда!</div>
              <!--              <button class="choice__item&#45;&#45;link js-mobile-button">-->
              <!--                <div>У меня уже есть комната</div>-->
              <!--                Войти-->
              <!--              </button>-->
            </div>
          </div>
          <div class="choice__for-item">
            <div class="choice__item js-go-room" data-room="2">
              <img
                src="/assets/images/room_preview2.png"
                alt=""
                class="choice__item--img"
              />
              <div class="choice__item--title js-rooms-name2">Комната творчества</div>
              <div class="choice__item--text js-rooms-text2">Любишь рисовать! Скорее заходи!</div>
              <!--              <button class="choice__item&#45;&#45;link js-mobile-button">-->
              <!--                <div>У меня уже есть комната</div>-->
              <!--                Войти-->
              <!--              </button>-->
            </div>
          </div>
          <div class="choice__for-item">
            <div class="choice__item js-go-room" data-room="3">
              <img
                src="/assets/images/room_preview3.png"
                alt=""
                class="choice__item--img"
              />
              <div class="choice__item--title js-rooms-name3">ИГРОВАЯ</div>
              <div class="choice__item--text js-rooms-text3">'Игрушки ждут тебя здесь!</div>
              <!--              <button class="choice__item&#45;&#45;link js-mobile-button">-->
              <!--                <div>У меня уже есть комната</div>-->
              <!--                Войти-->
              <!--              </button>-->
            </div>
          </div>
        </div>
      </div>
      <!--      <div class="modal modal-lk js-modal js-modal-lk">-->
      <!--        <div class="modal-wrapper">-->
      <!--          <div class="modal__cross js-cross"></div>-->
      <!--          <div class="is-mobile modal-lk-title">-->
      <!--            <img src="/assets/images/lk.svg" alt="" />-->
      <!--            <span>Личный кабинет</span>-->
      <!--          </div>-->
      <!--          <div class="modal-lk-content">-->
      <!--            <div><%= ENV_EMAIL %></div>-->
      <!--            <ul>-->
      <!--              <li class="js-link-choice">Сменить комнату</li>-->
      <!--              <li class="js-link-save">Сохранить</li>-->
      <!--            </ul>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
    </main>
  </body>
</html>
