<!doctype html>
<html lang="en" class="height100">
  <head>
    <meta charset="UTF-8" />
    <title>milka</title>
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, viewport-fit=cover"
    />
    <script>
      <%= ENV_DATA %>
    </script>
  </head>
  <body class="height100">
    <%= metrikaHTML %>
    <main class="main height100">
      <div class="menu js-menu is-hidden">
        <div class="menu__item js-call-modal js-call-gift-modal"></div>
        <div class="menu__item js-call-modal js-call-lk-modal"></div>
      </div>
      <div class="rooms js-rooms">
        <div class="room-content is-hidden">
          <!-- Для тутроиалов 4 картинки и у них меняется только цифра в адресе в зависимости от четверти -->
          <div class="tutorial-room js-tutorial-room is-hidden">
            <img src="" alt="" />
          </div>
          <canvas class="pixifeed"></canvas>
          <!--<div
        class="room-wrapper js-current-room"
        data-translatex="0"
        data-translatey="0"
        data-scale="1.2"
      ></div>-->
        </div>
      </div>
      <div class="range is-hidden">
        <div class="range-top js-range-button-top"></div>
        <input
          type="range"
          min="100"
          max="200"
          value="120"
          step="1"
          orient="vertical"
          class="js-range"
        />
        <div class="range-bottom js-range-button-bottom"></div>
      </div>
      <div class="loader js-loader">
        <img class="spin" src="assets/loader.png" alt="" />
      </div>
      <div class="modal modal-gifts js-modal js-modal-gifts">
        <div class="modal-gifts__title is-mobile">Моя коробка с подарками</div>
        <div class="modal-wrapper js-gifts-content">
          <div class="modal__cross js-cross"></div>
          <div class="modal-gifts-content">
            <div class="gifts js-gifts"></div>
          </div>
        </div>
      </div>
      <div class="modal onboarding js-onboarding-range">
        <div class="js-onboarding-content">
          <img src="assets/images/finger1.svg" alt="" />
          <span>Приближай и отдаляй комнату с помощью ползунка</span>
        </div>
      </div>
      <div
        class="modal onboarding onboarding-menu-gift js-onboarding-menu-gift"
      >
        <div class="js-onboarding-content-gift">
          <span>Нажми, чтобы открыть свои подарки</span>
          <img src="assets/images/finger2.svg" alt="" />
        </div>
      </div>
      <div class="modal onboarding onboarding-lk js-onboarding-lk">
        <div class="js-onboarding-content-lk">
          <span>Здесь твой личный кабинет</span>
          <img src="assets/images/finger3.svg" alt="" />
        </div>
      </div>
      <div class="modal onboarding onboarding-gift js-onboarding-gift">
        <div class="js-onboarding-wrapper-gift">
          <div class="gifts__item is-can-get">
            <img src="assets/images/gifts/gift1.png" alt="" />
          </div>
          <span>Нажми на игрушку, чтобы переместить ее в комнату</span>
          <span
            >Игрушка, которая размещена в комнате становится чернобелой</span
          >
        </div>
      </div>
      <div class="modal modal-lk js-modal js-modal-lk">
        <div class="modal-wrapper">
          <div class="modal__cross js-cross"></div>
          <div class="is-mobile modal-lk-title">
            <img src="assets/images/lk.svg" alt="" />
            <span>Личный кабинет</span>
          </div>
          <div class="modal-lk-content">
            <div><%= ENV_EMAIL %></div>
            <ul>
              <li class="js-link-gift">Мои подарки</li>
              <li class="js-link-choice">Сменить комнату</li>
              <li class="js-link-save">Сохранить</li>
            </ul>
          </div>
        </div>
      </div>

      <div
        class="gift-menu js-gift-menu is-hidden"
        style="
          position: absolute;
          left: 0;
          top: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 150px;
          height: auto;
        "
        data-gift=""
        data-id=""
      >
        <button
          class="js-gift-box"
          style="width: 100%; height: auto; padding: 0; margin: 0"
        >
          <img
            style="width: 100%; height: auto; padding: 0; margin: 0"
            src="assets/images/btn_box.png"
            width="317"
            height="87"
          />
        </button>

        <button
          class="js-gift-ar"
          style="width: 100%; height: auto; padding: 0; margin: 0"
        >
          <img
            style="width: 100%; height: auto; padding: 0; margin: 0"
            src="assets/images/btn_ar.png"
            width="317"
            height="87"
          />
        </button>
      </div>

      <div class="modal modal-qr js-qr">
        <div class="modal-wrapper">
          <div class="modal__cross js-cross"></div>
          <div class="modal__text">
            Чтобы перейти в дополненную<br />
            реальность, отсканируй QR-код!
          </div>
          <img
            class="js-qr-code"
            src="assets/images/qr-codes/qr-code1.png"
            alt=""
          />
        </div>
      </div>
    </main>
  </body>
</html>
