@import "fonts/font";
@import "services/_all";
@import "helpers/_all";

@import "components/modal";
@import "components/choice";
@import "components/menu";
@import "components/gifts";
@import "components/rooms";
@import "components/range";

.main {
  position: relative;

  background-image: url("../images/background-choise.png");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  background-color: #7D69AC;
}

@include tablet {
  .height100 {
    height: inherit;
  }

  .main {
    background-image: url("../images/background-choise-tablet.png");
  }
}

@include mobile {
  .main {
    background-image: url("../images/background-mobile.png");
  }
}


.z-index-max {
  z-index: 10;
}

